/* 
 * Wire CSS - 连线样式
 */

path.wire {
  fill: none;
  pointer-events: stroke;
}

path.wire.selected {
  filter: drop-shadow(0 0 4px rgba(242, 193, 78, 0.5));
}

path.wire.preview {
  stroke: var(--wire-muted);
  stroke-width: 2.5;
  stroke-dasharray: 4 6;
}

text.wire-label {
  font-size: 11px;
  pointer-events: auto;
  font-family: "Maple Mono Normal NF CN", "Maple Mono NF CN", "Consolas", "Courier New", monospace;
  user-select: none;
}

circle.wire-handle {
  fill: var(--accent);
  stroke: #1d262b;
  stroke-width: 2;
  cursor: ew-resize;
}

circle.wire-bend {
  pointer-events: none;
  /* stroke: #1d262b00; */
  /* stroke-width: 0; */
  /* opacity: 0.8; */
  opacity: 0;
}

circle.wire-bend.overlap {
  stroke-width: 2;
  opacity: 1;
}
